<header class="site-header">
	<div class="wrap">
		<a class="brand" href="{{ '/' | relative_url }}">Sampson Ewuzie</a>
		<nav class="main-nav">
			<a href="{{ '/' | relative_url }}">Home</a>
			<a href="{{ '/blog/' | relative_url }}">Blog</a>
			<a href="{{ '/tutorials/' | relative_url }}">Tutorials</a>
			<a href="{{ '/projects/' | relative_url }}">Projects</a>
			<a href="{{ '/reflections/' | relative_url }}">Reflections</a>
			<a href="{{ '/contact/' | relative_url }}">Contact</a>
			<a href="{{ '/search/' | relative_url }}">Search</a>
			<a
				href="/assets/files/Sampson_Ewuzie_CV_2025.pdf"
				target="_blank"
				class="btn btn-sm"
				>CV</a
			>
		</nav>
	</div>
</header>
